<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}"/>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
<div class="bg-gray-200 flex flex-col justify-center items-center w-1/2 p-4 mx-auto mt-4 text-2xl">
    <h1 class="text-2 font-bold">welcome to home page</h1>
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa esse id molestias neque nostrum possimus quidem vel velit veniam voluptatum. At, cupiditate dolores ea illo iste laborum nesciunt voluptate. Aliquid, doloribus esse eveniet hic inventore labore porro quod repudiandae sint tempora totam vero, voluptatem. Amet molestiae officia quis sed vel?</h1>
    <h1 th:text="${title}"></h1>
    <a th:href="${leetcode}">Click Here</a>
    <button class="px-3 py-3 rounded bg-blue-400 text-white hover:bg-blue-200">Click Here</button>

    <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </a>


</div>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>