<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"><head>
    <title>Signup Page</title>
</head>
<body>
<div id="content">


    <div class="grid grid-cols-12">
        <div class="col-span-4 md:col-span-3"></div>
        <div class="col-span-12 md:col-span-6">
<!--        from 12 it is going to take 6 space-->
        <div class=" mt-4 block   p-6 border-t-[10px] border-blue-700  bg-white  rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Signup Here !!</h5>
            <p class="font-normal text-gray-500 dark:text-gray-500">Start storing your text over here</p>
            <form  class= " mt-5" th:action="@{'/do_register'}" method="post" th:object="${userForm}">
<!--                name field-->
                <div class="mb-3">
                    <label for="name"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input th:field="*{name}" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your Name" required />
                </div>
<!--                email field-->
                <div class="mb-3">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input th:field="*{email}" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your Email" required />
                </div>
<!--                password-->
                <div class="mb-3">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input th:field="*{password}" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your Password" required />
                </div>
<!--                phone number-->
                <div class="mb-3">
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                    <input th:field="*{phoneNumber}" type="text" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your Phone Number" required />
                </div>
<!--                text area-->
                <div class="mb-3">

                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
                    <textarea th:field="*{description}" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>

                </div>
<!--                buttons-->
                <div class=" flex justify-center mb-3 space-x-3">
                    <button type="submit" class="px-3 py-2 rounded text-white bg-blue-500 hover:bg-blue-800 dark:bg-blue-600 dark:text-white dark:hover:bg-blue-500">
                        Signup
                    </button>
                    <button type="reset" class="px-3 py-2 rounded text-white bg-blue-500 hover:bg-pink-800 dark:bg-blue-600 dark:text-white dark:hover:bg-blue-500">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>

</div>
<script>console.log('hello from about page')</script>

</body>
</html>